

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    
    font-family: "Montserrat", sans-serif;
    background-color: azure;
    line-height: 1.6;
}
/* Div 1 */
.container{
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(111, 101, 120);
    color: white;
    border-radius: 10px;
    
}
h1, h2,h3,h4,h5,h6{
    margin: 20px 0;
    padding: 30 px;
    text-align: center;
    
}
/* Div 2*/
.container2{
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: chocolate;
    border-radius: 10px;
    color: white;
}

.container2 span {
    color: red;
    font-weight: bold;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
}
/* Div 3*/  
.containar3{
    width: 100%;
    border-collapse: collapse;
    background-color: cornflowerblue;
    text-align: center;
}


table{
    padding: 10px;
    border-style: dashed;
    width: 100%;
    background-color: rgb(107, 194, 160);
}

th, td{
    border: 3px solid blue;
    padding: 10px;
}
tr:hover{
    background-color: rgb(117, 91, 172);
}




