/* --- ESTILOS BASE --- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}



/* Header*/
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #050404;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100px; /* Reducido un poco para facilitar el scroll */
}

.header__tittle { color: white; }
.header__nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}
.header__nav-list li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}

.header__logo {
    width: 50px;
    height: auto;
    align-content: center;
}

/* --- SECCIONES PARALLAX --- */

.parallax-section {
    /* Altura de toda la pantalla */
    height: 100vh; 
    
    /* PROPIEDADES CLAVE PARA PARALLAX */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Centrado del texto interno */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Imágenes específicas (Cambia las URLs por tus archivos) */
.section-1 {
    background-image: url('../imagesfavicon.png/wallpapers-some-very-high-resolution-images-of-the-games-v0-f62bz1327pxe1.jpg');
}

.section-2 {
    background-image: url('../imagesfavicon.png/3ca8f830660a18e383f8caec7507c4fc.jpg');
}

.parallax-content {
    background-color: rgba(3, 3, 3, 0.5);
    padding: 20px 40px;
    border-radius: 8px;
    color: rgb(241, 237, 237);
    text-align: center;
}

/* Bloque de texto para separar secciones */
.text-block {
    padding: 80px 20px;
    background-color: #0e0d0d;
    text-align: center;
    color: white;
}

/* Footer  */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #050404; /* Color negro original */
    color: rgb(236, 233, 233);
    padding: 40px 0;
    gap: 15px;
    width: 100%;
    clear: both;
}

/* Contenedor para los links si quieres que salgan en línea */
.footer__links-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__link {
    color: #f2f2f2;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.footer__link:hover {
    color: lightblue;
}

.footer__copyright {
    font-size: 0.9rem;
    margin-top: 10px;
    opacity: 0.8;
}