*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /* Nivel 1: position: relative */
.box {
    width: 150px;
    height: 50px;
    background-color: lightblue;
    border: 1px solid blue;
    margin: 10px;
    text-align: center;
    line-height: 50px;
}

.relative-box{
    width: 300px;
    height: 300px;
    background-color: rgb(148, 195, 179);
    border-color: black;
    left: 20px;
    top: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 70px;
    margin-bottom: 50px;
    
}

.menu-fijo {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    background-color: #3f51b5;
    color: white;
    padding: 15px;
    z-index: 1000; 
    text-align: center;
    margin-bottom: 0;
}

.contenedor-absoluto {
    /* El padre debe tener position: relative para que el hijo absoluto se posicione respecto a él */
    position: relative;
    height: 150px; /* Altura para ver el efecto */
    background-color: #fce4ec;
    border-color: #e91e63;
    width: 80%;
}

.div-esquina-derecha {
    position: absolute;
    top: 0;    /* Se pega al borde superior del padre */
    right: 0;  /* Se pega al borde derecho del padre */
    background-color: #f3e5f5;
    border-color: #9c27b0;
    width: 180px;
}