* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 40px;
}


/*Nivel 1-A */

.grid-container {
    display: grid;
    justify-content: left;
    padding-right: 50px;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.ejemplos {
    padding: 30px;
}

.grid-container div {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;

}

/* Nivel 1-A  */
.a {
    grid-column: 2 /4;
    grid-row: 1 / 2;

}

.b {
    grid-column: 4 / 4;
    grid-row: 1 / 3;

}

.c {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

}

.d {
    grid-column: 3 / 4;
    grid-row-start: 2 / 3;
}

.e {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

/* Nivel 1-B  */

.grid-ejemplo-b {
    grid-template-rows: repeat(3, 80px);
    grid-auto-flow: column;
}

.grid-ejemplo-b .item:nth-child(odd) {
    background-color: #555;
    color: white;
}

.grid-ejemplo-b .item:nth-child(even) {
    background-color: #ddd;
    color: #333;
}

/* Nivel 2-A  */
.grid-container grid-ejemplo-c{
    
}

.box a{
    grid-column: 1;
    grid-row: 1;
}