@font-face {
    font-family: 'Bellota';
    src: url(../font/Bellota-Bold.ttf);
    font-weight: bold;
    font-style: bold;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:40px;
}


/*Nivel 1-A */

.container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff ;
    color: #444;
}

.ejemplos{
    padding: 30px;
}
.container div{
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    
}
 /* Nivel 1-B  */
.a{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.b{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.c{
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.d{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.e{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end: 2;
}
.f{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}






/*Nivel 2-A */
.a_a{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.a_b{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.a_c{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.a_d{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.a_e{
    grid-row: 2 / 3;
    grid: 1 / 2;
}
.a_f{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

/*Nivel 2-B */

.b_a{
    grid-area: 1 / 2 / 2 / 3;
}

.b_b{
    grid-area: 2 / 2 / 3 / 3;
}

.b_c {
    grid-area: 2 / 3 / 3 / 4;
}

.b_d {
    grid-area: 1 / 1 / 2 / 2;
}

.b_e{
    grid-area: 2 / 1 / 3 / 2;
}

.b_f{
    grid-area:  1 / 3 / 2 / 4 ;
}


/*Nivel 3-A */

.c_a{
    grid-column: 1 / 3;
    grid-row: 1;
}

.c_b{
    grid-column: 3;
    grid-row: 1 / 3;
}

.c_c{
    grid-column: 1;
    grid-row: 2;
}
.c_d{
    grid-column: 2;
    grid-row: 2;
}

/*Nivel 3-B */

.d_a{
    grid-column: 1 / 3;
    grid-row: 1;
}

.d_b{
    grid-column: 3;
    grid-row: 1 / 3;
}

.d_c{
    grid-column: 1 ;
    grid-row: 2;
}

.d_d{
    grid-column: 2;
    grid-row: 2;
}

.d_e{
    grid-column: 4 / 5;
    grid-row: 1 / 4 ;
}