@font-face {
    font-family: 'Bellota';
    src: url(../font/Bellota-Bold.ttf);
    font-weight: bold;
    font-style: bold;
}
@keyframes zoom-lento {
    0% {
        /* Un zoom leve del 105% está bien */
        background-size: 105%; 
        background-position: center center; 
    }
    100% {
        /* Finaliza en 100% para mostrar toda la imagen dentro del contenedor */
        background-size: 100%; 
        background-position: center center; 
    }
}


@font-face {
    font-family: 'Bellota';
    src: url(../font/BitcountGridSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf);
    font-weight: bold;
    font-style: bold;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER  */

.header_background {

    height: 400px;
    width: 100%;


    background-image: url(/dia15/imagesfavicon.png/26edfe7476f61c0afa0ad92574065225.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    overflow: hidden;

    animation: zoom-lento 20s infinite alternate;



    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__tittle{
font-family: 'Bellota';
font-weight: bold;
height: 200px;
width: 100%;
display: contents;

}

.aside_left{
    background-image: url(/dia15/imagesfavicon.png/59297e294dd62f3103ddc9fd4ba09cb2.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}