body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #131111;
}

/* Header    Repasar para futuras páginas */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #050404;
    padding: 50px 0;
    width: 100%;
}


.header__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}


.header__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.header__logo {
    width: 100px;
    height: auto;
}

.header__tittle {
    margin: 0;
    color: rgb(209, 101, 25);
    text-align: center;
}

/* Categories */
.header__nav {
    margin: 0;
    padding: 0;
}

.header__nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__nav-list li a {
    text-decoration: none;
    color: rgb(209, 101, 25);
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;
    padding: 5px 10px;
    border-radius: 4px;
    display: block;
}

.header__nav-list li a:hover {
    color: rgb(209, 101, 25);
    background-color: rgba(255, 255, 255, 0.9);
}

/* Search */
.header__search {
    display: flex;
    align-items: center;
}

.header__search-input {
    padding: 8px;
    border: 1px solid rgb(209, 101, 25);
    border-radius: 4px 0 0 4px;

    background-color: #24303c;
    color: rgb(219, 112, 11);
}

.header__search-button {
    padding: 8px 10px;
    background-color: rgb(209, 101, 25);
    color: #050404;
    border: 1px solid rgb(209, 101, 25);
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-weight: bold;
}

/* Main */ 
main {
    display: flex;
    gap: 20px;
    padding: 30px 5%;
    background-color: #000000c7;
    min-height: calc(100vh - 200px);
    align-items: stretch;
}


.sidebar-wrapper {
    flex: 1;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.content-section {
    flex: 3;
    padding: 50px;
    background-color: #020202;
    border-radius: 8px;
    color: #f7f4f4;
    
}


.content-aside {
    flex: 1; 
    padding:22px; 
    border-radius: 4px;
    background-color: rgb(12, 12, 12);
    
}


.content-aside img {
    width: 100%; 
    height: auto;
    display: block;
    margin-top: 10px; 
    border-radius: 0 0 4px 4px; 
}

.content-aside--h4{
    color: white;
}


.content-aside--h4 a , .content-aside p {
    padding: 0 15px; 
    color: white;
}


.content-section .header__tittle--h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
    color: #faf7f7;
    padding: 0; 
    text-align: left; 
}


/* Metadates */
.content-section .meta-datos {
    font-size: 14px;
    color: #faf7f7;
    margin-bottom: 25px;
    margin-left: 0; 
    text-align: left;
}


.content-section p {
    font-size: 17px;
    margin-bottom: 15px;
    color: #f8f8f8;
    margin: 40px;
    text-align: justify;
}


.content-img {
    max-width: 100%;
    margin: 20px auto; 
    display: block;
    
}

.content-img img {
    width: 100%; 
    max-width: 700px; 
    height: auto;
    display: block;
    border-radius: 5px;
    margin: 0 auto; 

}


.content-img figcaption {
    font-style: italic;
    font-size: 13x;
    line-height: 1.5;
    color: #f6f7f8;
    margin-top: 20px;
    padding: 0; 
    
}


.content-section h3 {
    color: #faf8f8;
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: left; 
}



.content-section ul {
    margin-top: 30px;
    list-style-type: none;
    padding-left: 0;
    font-size: 18px;
    font-weight: bold;
    color: #faf7f7;
    margin-bottom: 15px;
    padding: 0; 
    text-align: justify;
    
}


.content-section ul li {
    list-style-type: none;
    margin-bottom: 50px;
    padding-left: 50px;
    position: relative;
    font-size: 16px;
    font-weight: normal;
    color: #fcfafa;
    text-align: justify;

}


.content-section ul li::before {
    color: #fafafa; 
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    position: absolute;
    left: 0;
    top: 0;
}


/* Videos and Pictures  */

.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 900px;
    margin: 100px auto; 
}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Form          */
.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: auto;
    background-color: #fcf3fb;
    padding: 40px;
    margin: auto; 
    margin-top: 200px;
    margin-bottom: 200px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(248, 247, 247);
    box-sizing: border-box;
    box-shadow: 7px 13px 37px #b867c9;
}

.controls {
    width: 96%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: white;
}


.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form-register a {
    color: rgb(210, 126, 218);
    text-decoration: none;
}


.form-register a:hover {
    color: white;
    text-decoration: underline;
}


.controls__link {
    /* No funciona el cambio de color  */
    color: rgb(176, 72, 12);
    align-items: center;
    margin-left: 10px;

}



.bottons {
    width: 80%;
    background: rgb(175, 104, 189);
    border: none;
    padding: 20px;
    color: rgb(6, 6, 6);
    margin: 16px auto; 
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    
}

/* Footer  */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #050404;
    color: rgb(89, 87, 87);
    padding: 30px 20px;
    gap: 15px;
}

.footer__link {
    color: rgb(39, 38, 38);
    text-decoration: none;
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;
}

.footer__link:hover {
    color: rgb(209, 101, 25);
}

.footer__link {
    font-weight: bold;
}

@media (max-width: 768px) {
    .header__top-row {
        flex-direction: column;
        width: 100%;
        padding: 0 10px;
    }
}