* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: mandatory;
}
/* HEADER  */
header {
    height: 25vh;
    width: 100%;
    background-color: rgb(123, 123, 235);
    color:rgb(237, 228, 217);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top:0 px;
    z-index: 1;
}

.header_tittle{
    text-decoration: underline;
    color: aliceblue;
    justify-self: center;
}

.header__nav-list{
        list-style: none;
        display: flex;
        justify-content:space-around;
        gap:20px
}

.header__nav-list{
    color:beige;
    text-decoration: none;
    padding: 4px 7px;
    margin: 0 4px;
    border-radius: 6px;
    transition: .5s;
}




.main {
    height: 300vh;
}
.content-section__paragraph-first,
.content-section__paragraph-second,
.content-section__paragraph-third {
    /* Agrupamos estilos similares */
    width: 50vw;
    position: relative;
    inset: 20px auto auto 25vw;
    margin: 100px 0;
    padding: 20px;
    scroll-snap-align: start;
}

.content-section__paragraph-first {
    background-color: aquamarine;
}

.content-section__paragraph-second {
    background-color: rgb(135, 101, 204);
}
.content-section__paragraph-third {
    background-color: rgb(232, 211, 120);
}