
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}

body,
main {
    max-width: 1200px;
    margin: auto;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:#b02626;
    color: white;
    flex-wrap: wrap;
}

header h1 {
    margin: 0;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: rgb(110, 91, 219);
}

.logo {
    width: 60px;
    height: auto;
}


main {
    background-color: #f9f9f9;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.span1{
    
    font-weight: bold;
}


.container1,
.container2,
.container3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    
    align-items: center;
}

.container1 p,
.container2 p,
.container3 p {
    flex: 1 1 300px;
    max-width: 600px;
    text-align: justify;
    line-height: 1.6;
    align-content: center;
    font-family: 'Lato', sans-serif;
}

.images1,
.images2 {
    display: flex;
    gap: 20px;
    flex: 1 1 300px;
    align-items: center;
    flex-wrap: wrap;
}
.images3{
    align-items: center;
    border-radius: 200px;
}

.images1 img,
.images2 img {
    width: 45%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b02626;
    color: white;
    padding: 30px 20px;
    gap: 15px;
}

footer a {
    color: #ccc;
    text-decoration: none;
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;
}

footer a:hover {
    color: lightblue;
}

footer p {
    margin-top: 10px;
    font-size: 0.9em;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .container1,
    .container2 {
        flex-direction: column;
        align-items: center;
    }

    .images1 img,
    .images2 img {
        width: 90%;
    }
}